body {
	margin: 0;
	width: 100%;
	height: calc(100% - 25px);
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.data-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 100;
  z-index: 100;
}

.page {
  width: 100%;
  position: relative;
  margin-top: 25px;
}

.blue{
  background-color: #3F51B5; /*500*/
  color: white;
}

.blue .accent {
  background-color: #303F9F; /*700*/
  color: white;
}

.blue .data-bar {
  background-color: #1A237E; /*900*/
  color: white;
}

.blue /deep/ paper-input-decorator /deep/ .label-text {
  /* inline label,  floating label, error message and error icon color when the input is unfocused */
  color: white !important;
}

.blue /deep/ paper-input-decorator /deep/ input {
  color: white;
}

.blue /deep/ paper-input-decorator /deep/ input::-webkit-input-placeholder {
   color: #1A237E; /*900*/
}

.blue /deep/ paper-input-decorator /deep/ input:-moz-placeholder { /* Firefox 18- */
   color: #1A237E; /*900*/
}

.blue /deep/ paper-input-decorator /deep/ input::-moz-placeholder {  /* Firefox 19+ */
   color: #1A237E; /*900*/
}

.blue /deep/ paper-input-decorator /deep/ input:-ms-input-placeholder {  
   color: #1A237E; /*900*/
}

.blue /deep/ paper-input-decorator /deep/ .unfocused-underline {
  /* line color when the input is unfocused */
  background-color: #1A237E; /*900*/
}

.blue /deep/ paper-input-decorator[focused] /deep/ .floating-label .label-text {
  /* floating label color when the input is focused */
  color: white;
}

.blue /deep/ paper-input-decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: white;
}

.blue /deep/ #filecontent:hover {
  background-color: #E8EAF6; /*100*/
  color: black;
}

.blue /deep/ .file:hover {
  background-color: #3F51B5; /*500*/
}

.blue /deep/ .file:hover .title,
.blue /deep/ .file:hover .details,
.blue /deep/ .file:hover .details a {
  transition: all .2s;
  color: white;
}


.orange{
  background-color: #FF9800; /*500*/
  color: white;
}

.orange .accent {
  background-color: #F57C00; /*700*/
  color: white;
}

.orange .data-bar {
  background-color: #E65100; /*900*/
  color: white;
}

.orange /deep/ paper-input-decorator /deep/ .label-text {
  /* inline label,  floating label, error message and error icon color when the input is unfocused */
  color: white !important;
}

.orange /deep/ paper-input-decorator /deep/ input {
  color: white;
}

.orange /deep/ paper-input-decorator /deep/ input::-webkit-input-placeholder {
   color: #E65100; /*900*/
}

.orange /deep/ paper-input-decorator /deep/ input:-moz-placeholder { /* Firefox 18- */
   color: #E65100; /*900*/
}

.orange /deep/ paper-input-decorator /deep/ input::-moz-placeholder {  /* Firefox 19+ */
   color: #E65100; /*900*/
}

.orange /deep/ paper-input-decorator /deep/ input:-ms-input-placeholder {  
   color: #E65100; /*900*/
}

.orange /deep/ paper-input-decorator /deep/ .unfocused-underline {
  /* line color when the input is unfocused */
  background-color: #E65100; /*900*/
}

.orange /deep/ paper-input-decorator[focused] /deep/ .floating-label .label-text {
  /* floating label color when the input is focused */
  color: white; /*text*/
}

.orange /deep/ paper-input-decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: white; /*text*/
}

.orange /deep/ #filecontent:hover {
  background-color: #FFE0B2; /*100*/
  color: black;
}

.orange /deep/ .file:hover {
  background-color: #FF9800; /*500*/
}

.orange /deep/ .file:hover .title,
.orange /deep/ .file:hover .details,
.orange /deep/ .file:hover .details a {
  transition: all .2s;
  color: white;
}



.yellow{
  background-color: #FFEB3B; /*500*/
  color: white;
}

.yellow .accent {
  background-color: #FBC02D; /*700*/
  color: white;
}

.yellow .data-bar {
  background-color: #F57F17; /*900*/
  color: white;
}

.yellow /deep/ paper-input-decorator /deep/ input {
  color: black;
}

.yellow /deep/ paper-input-decorator /deep/ .label-text {
  /* inline label,  floating label, error message and error icon color when the input is unfocused */
  color: black !important;
}

.yellow /deep/ paper-input-decorator /deep/ input::-webkit-input-placeholder {
   color: #F57F17; /*900*/
}

.yellow /deep/ paper-input-decorator /deep/ input:-moz-placeholder { /* Firefox 18- */
   color: #F57F17; /*900*/
}

.yellow /deep/ paper-input-decorator /deep/ input::-moz-placeholder {  /* Firefox 19+ */
   color: #F57F17; /*900*/
}

.yellow /deep/ paper-input-decorator /deep/ input:-ms-input-placeholder {  
   color: #F57F17; /*900*/
}

.yellow /deep/ paper-input-decorator /deep/ .unfocused-underline {
  /* line color when the input is unfocused */
  background-color: #F57F17; /*900*/
}

.yellow /deep/ paper-input-decorator[focused] /deep/ .floating-label .label-text {
  /* floating label color when the input is focused */
  color: black; /*text*/
}

.yellow /deep/ paper-input-decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: black; /*text*/
}

.yellow /deep/ #filecontent:hover {
  background-color: #FFF9C4; /*100*/
  color: black;
}

.yellow /deep/ .file:hover {
  background-color: #FFEB3B; /*500*/
}

.yellow /deep/ .file:hover .title,
.yellow /deep/ .file:hover .details,
.yellow /deep/ .file:hover .details a {
  transition: all .2s;
  color: black;
}


.green{
  background-color: #4CAF50; /*500*/
  color: white;
}

.green .accent {
  background-color: #388E3C; /*700*/
  color: white;
}

.green .data-bar {
  background-color: #1B5E20; /*900*/
  color: white;
}

.green /deep/ paper-input-decorator /deep/ .label-text {
  /* inline label,  floating label, error message and error icon color when the input is unfocused */
  color: white !important;
}

.green /deep/ paper-input-decorator /deep/ input {
  color: white;
}

.green /deep/ paper-input-decorator /deep/ input::-webkit-input-placeholder {
   color: #1B5E20; /*900*/
}

.green /deep/ paper-input-decorator /deep/ input:-moz-placeholder { /* Firefox 18- */
   color: #1B5E20; /*900*/
}

.green /deep/ paper-input-decorator /deep/ input::-moz-placeholder {  /* Firefox 19+ */
   color: #1B5E20; /*900*/
}

.green /deep/ paper-input-decorator /deep/ input:-ms-input-placeholder {  
   color: #1B5E20; /*900*/
}

.green /deep/ paper-input-decorator /deep/ .unfocused-underline {
  /* line color when the input is unfocused */
  background-color: #1B5E20; /*900*/
}

.green /deep/ paper-input-decorator[focused] /deep/ .floating-label .label-text {
  /* floating label color when the input is focused */
  color: white; /*text*/
}

.green /deep/ paper-input-decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: white; /*text*/
}

.green /deep/ #filecontent:hover {
  background-color: #C8E6C9; /*100*/
  color: black;
}

.green /deep/ .file:hover {
  background-color: #4CAF50; /*500*/
}

.green /deep/ .file:hover .title,
.green /deep/ .file:hover .details,
.green /deep/ .file:hover .details a {
  transition: all .2s;
  color: white;
}